{% extends "index.html" %}
    {% block leftmenu %}

    {% endblock %}
    {% block content %}
        <div class="content">
            <form action="." method="post">
                <input type="text" name="username" value="" id="username" />
                <input type="password" name="password" value="" id="password" />
                <input type="submit" value="login" />
                <input type="hidden" name="next" value="http://127.0.0.1:8000/main/" />
            </form>
        </div>
    {% endblock %}
</body>
</html>